#main{ margin: 20px auto;  }
.left,.img15,.img16,.img17,.banner,.right{ float: left; }

#main.left{
    width: 200px; height: 490px; background-color: chocolate;padding: 20px;
}
.left ul>li{
width: 180px;height: 40px;margin: 8px;list-style: none;list-style: none;
}

.left a:hover{
    width: 200px;
    height: 40px;
    background-color: rgb(254, 240, 255);
    cursor: pointer;
    padding: 20px;
}
.right,.banner,.left,.table{
    display: block;
    
    border-top: 10px; 
    border-bottom:30px ;
    border-left:5px ;
    border-right:5px ;
    border-style: solid;
    border-color: antiquewhite;
    padding: 20px;
}
.img15,.img16,.img17{
    display: block;
    
    border-top: 10px; 
    border-bottom:30px ;
    border-left:5px ;
    border-right:5px ;
    border-style: solid;
    border-color: antiquewhite;
    padding: 20px;
    margin: 8px;
#main.right{
    width: 200px; height: 490px; background-color: chocolate;
}
#main.banner{
    width: 100px; height: 1800px; background-color: chocolate;margin: 8px;
    border-color: azure;
    border-width: 50px;
    border-style: solid;
    padding: 20px;
    margin: 8px;
}